body{
   
}
.containertop{
	
	width: 100%;
   background-color: #e9edf2;
 }
*{
	margin: 0px;
}
 .wrapper{
 	position: relative;
 	display:inline-block;
	width: 1500px;
	margin:auto;
	z-index:3;

}
#topright{
	float: right;
	color:#4682B4;
}
#topcenter{
	  position: relative;
	  margin-right: 300px;
	  margin-top:  50px;
	color:#4682B4;
	text-align: center;
	float:right;
	font-weight: bold;

}
nav{
	font-weight: bold;
	color:white;
}

#topsearch{
	border: 2px solid #4682B4;
        border-radius: 10px;
		text-align: center;
		
}
#topbtn{
	border: 2px solid #4682B4;
	border-radius: 10px;
	background-color:#4682B4;
	color:white;
	
}
#makeapp{
	color:#4682B4;
}



 